# Django (Python)
backend/*.sqlite3
backend/*.pyo
backend/*.pyd
backend/*.db
backend/.env
backend/.env.local
backend/.env.dev
backend/.env.prod
backend/venv/
backend/env/
backend/.venv/
backend/backend/__pycache__/
backend/app/__pycache__/
backend/templates/
backend/app/migrations/

# Vue.js (Node.js)
frontend/node_modules/
frontend/dist/

# VSCode
frontend/.vscode/

# Общие системные файлы
*.bat
*.sql