# Django (Python)
backend/*.pyc
backend/__pycache__/
backend/*.sqlite3
backend/*.pyo
backend/*.pyd
backend/*.db
backend/.env
backend/.env.local
backend/.env.dev
backend/.env.prod
backend/venv/
backend/env/
backend/.venv/
backend/*.log
backend/media/
backend/staticfiles/
backend/.DS_Store

# Vue.js (Node.js)
frontend/node_modules/
frontend/dist/
frontend/.temp/
frontend/.cache/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/

# PyCharm
backend/.idea/
backend/*.iml
backend/*.ipr
backend/*.iws

# VSCode
frontend/.vscode/
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json

# Общие системные файлы
.DS_Store
Thumbs.db